<div class="container shadow p-3 mb-0 bg-body rounded">
    <div class="row cuerpo_portfolio">
        <div class="modal-header">
            <h2 class="modal-title">
                Login
            </h2>
            <a href="#" class="btn" (click)="activeModal.dismiss('Cross click')">
                <i class="fa-solid fa-xmark"></i>
            </a>
        </div>
    
        <div class="modal-body">
             <form (ngSubmit)="onLogin()" novalidate > <!--#f="ngForm" -->
                <div class="form-outline form-white mb-4">
                    <input type="user" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" name="nombreUsuario" required>
                    <label class="form-label" for="nombreUsuario">Usuario</label>
                </div>
                <div class="form-outline form-white mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required>
                    <label class="form-label" for="password">Contraseña</label>
                </div>
                
                <div class="boton_form">
                    <button type="submit" class="btn">
                        INGRESAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>