<app-header></app-header>

<div class="container shadow p-3 mb-0 bg-body rounded">
    <div class="row cuerpo_portfolio">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h2>Experiencia</h2> 
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloEx">Título</label>
                    <input type="text" class="form-control" id="tituloEx" name="tituloEx" [(ngModel)]="experiencia.tituloEx" required>   
                </div>
                <div class="form-group">
                    <label for="empleador">Empleador</label>
                    <input type="text" class="form-control" id="empleador" name="empleador" [(ngModel)]="experiencia.empleador" required>
                </div>
                <div class="form-group">
                    <label for="fechaInicio">Desde año...</label>
                    <input type="number" class="form-control" id="fechaInicio" name="fechaInicio" [(ngModel)]="experiencia.fechaInicio" required>
                </div>
                <div class="form-group">
                    <label for="fechaFin">Hasta año...</label>
                    <input type="number" class="form-control" id="fechaFin" name="fechaFin" [(ngModel)]="experiencia.fechaFin" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEx">Descripción</label>
                    <textarea type="text" class="form-control" id="descripcionEx" name="descripcionEx" rows="3" [(ngModel)]="experiencia.descripcionEx" required></textarea>
                </div>
    
                <div class="boton_form">
                    <button type="submit" class="btn mr-5">
                        EDITAR
                    </button>
                    <button type="button" class="btn" routerLink="">
                        VOLVER
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>