<app-header></app-header>

<div class="container shadow p-3 mb-0 bg-body rounded">
    <div class="row cuerpo_portfolio">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h2>Proyectos</h2> 
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloPr">Título</label>
                    <input type="text" class="form-control" id="tituloPr" name="tituloPr" [(ngModel)]="proyecto.tituloPr" required>   
                </div>
                <div class="form-group">
                    <label for="descripcionPr">Descripción</label>
                    <textarea type="text" class="form-control" id="descripcionPr" name="descripcionPr" rows="3" [(ngModel)]="proyecto.descripcionPr" required></textarea>
                </div>
                <div class="form-group">
                    <label for="imgPr">Url de la Img</label>
                    <input type="text" class="form-control" id="imgPr" name="imgPr" [(ngModel)]="proyecto.imgPr" required>
                </div>
                <div class="form-group">
                    <label for="repositorio">Url del repositorio</label>
                    <input type="text" class="form-control" id="repositorio" name="repositorio" [(ngModel)]="proyecto.repositorio" required>
                </div>
    
                <div class="boton_form">
                    <button type="submit" class="btn mr-5">
                        EDITAR
                    </button>
                    <button type="button" class="btn" routerLink="">
                        VOLVER
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>