.redes i {
    color: #ffffff;
    font-size: 36px;
}

.redes i:hover {
    color: #000000;
    font-size: 36px;
    cursor: pointer;
}

.logoAP {
    width: 150px;
}

button {
    background-color: #07073edd;
    color: #c0c1cf;
    font-weight: bold;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

.redes-nav {
    align-items: center;
}

.icono {
    filter: invert(1);
}