<div class="row">
    <nav class="navbar navbar-expand-lg mb-3 bg-dark">
        <div class="container-fluid">
    
            <a class="navbar-brand m-3" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
                <img src="../../../assets/logoAP.png" class="logoAP">
            </a>
    
            <button class="navbar-toggler me-3" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                &#9776;
            </button>
        
            <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end ms-6 m-3">
                <ul class="navbar-nav redes-nav">
                    <li class="nav-item pr-3">
                        <a class="nav-link redes" (click)="isMenuCollapsed = true" href="https://github.com/gonza100" target="_blank">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>

                    
                    <li class="nav-item active">
                        <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLogged">
                            INGRESAR
                        </button>
                        <button type="button" class="btn btn-dark" (click)="onLogOut()" *ngIf="isLogged">
                            SALIR
                        </button>
                    </li> 

                   



                </ul>
            </div>
        </div>
    </nav>
</div>